/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Header */
.header {
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.user-options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.user-options a {
  color: #000;
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
}

.user-options a:hover {
  color: #f8c400;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
}

.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
}

.site-mobile-menu {
  display: none;
  /* Menu fermé par défaut */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  z-index: 1000;
  padding-top: 50px;
}

.site-mobile-menu.open {
  display: block;
  /* Menu ouvert */
}

.site-mobile-menu-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.site-mobile-menu-close {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.site-mobile-menu-body ul {
  list-style: none;
  text-align: center;
}

.site-mobile-menu-body ul li {
  margin: 15px 0;
}

.site-mobile-menu-body ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.site-mobile-menu-body ul li a:hover {
  color: #f8c400;
}

/* Masquer les icônes par défaut sur mobile */
.user-options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Cacher les icônes sur mobile */
@media (max-width: 768px) {
  .user-options {
    display: none;
  }

  /* Afficher le menu hamburger uniquement sur mobile */
  .hamburger-menu {
    display: block;
  }

  /* Afficher les icônes utilisateur dans le menu mobile */
  .site-mobile-menu-body ul li a i {
    margin-right: 10px;
    /* Espacement entre l'icône et le texte */
    font-size: 20px;
    /* Taille des icônes */
  }


}


/* Responsive Styles */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .hamburger-menu {
    display: block;
  }
}


/* Section: Description */
.description {
  padding: 2.5rem;
  text-align: center;
}


.description .section-block h1 {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.description .section-block p {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.25rem;
  color: #666;
}


/* Section: Collections */
.collections {
  background: #f4f4f4;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.collection-item {
  flex: 0 1 calc(50% - 10px);
  text-align: center;
}

.collection-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.collection-item p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}


/* Grid des images */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* Colonnes pour la ligne du haut */
  grid-template-rows: auto;
  /* Ligne unique */
  gap: 10px;
  /* Espacement entre les éléments */
  padding: 1rem;
}

.stack {
  position: relative;
  flex: 1;
}

/* Images de gauche */
.stack.left {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  /* Superposition verticale */
  gap: 10px;
  height: 100%;
  /* Prend toute la hauteur */
}

.stack.left img {
  width: 100%;
  flex: 1;
  /* Répartir la hauteur uniformément */
  object-fit: cover;
}

/* Image centrale */
.center {
  grid-column: 2 / 3;
  position: relative;
}

.center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.text-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  z-index: 10;
}

/* Images de droite */
.stack.right {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  /* Superposition verticale */
  gap: 10px;
  height: 100%;
}


.stack.right img {
  width: 100%;
  flex: 1;
  object-fit: cover;
}



/* Grille pour images 6 et 7 */
.grid-container-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Deux colonnes égales */
  gap: 0.5rem;
  padding: 16px;
}

.bottom img {
  width: 100%;
  height: 100%;
  /* Hauteur uniforme pour les images du bas */
  object-fit: cover;
}

.bottom {
  position: relative;
}

.overlay h6 {
  font-size: 14px;
  margin: 5px 0;
}

.overlay h2 {
  font-size: 24px;
  margin: 10px 0;
}

.overlay button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    /* Une seule colonne pour les images du haut */
    gap: 2rem;
  }

  .grid-container-bottom {
    grid-template-columns: 1fr;
    /* Une seule colonne pour les images du bas */
  }

  .stack.left,
  .stack.right,
  .center {
    grid-column: 1 / -1;
    /* Chaque section prend toute la largeur */
  }

  .stack.left img,
  .stack.right img,
  .center img {
    object-fit: cover;
    height: auto;
  }

  .grid-container-bottom .image-text {
    height: auto;
    /* Permet de conserver l'alignement vertical des images */
  }
}

.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  width: 100vw;
}

.service-item {
  text-align: center;
  max-width: 70%;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.text {
  width: 100%;
  font-size: 1rem;
  color: #555;
  font-weight: 200;
}

/* Section Newsletter */
.newsletter-container {
  background-color: #333;
  /* Fond sombre pour la newsletter */
  color: white;
  padding: 20px 40px;
  /* Espacement autour du contenu */
  text-align: center;
  /* Centrer le texte et les éléments */
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* Espace entre les éléments de la newsletter */
}

.newsletter span {
  font-size: 1.2rem;
  font-weight: bold;
}

.newsletter input {
  width: 40%;
  padding: 0.8rem;
  border: none;
}

.newsletter button {
  background-color: #000;
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.newsletter button:hover {
  background-color: #777;
  /* Couleur au survol */
}

/* Footer*/
.footer {
  background-color: #f4f4f4;
  padding: 7rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section p {
  letter-spacing: 0.1rem;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section img.footer-logo {
  max-width: 70px;
  margin-bottom: 15px;
}

/* Footer Bottom Fixé en Bas */
.footer-bottom {
  background-color: #fff;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
}

.payment-methods {
  display: flex;
  gap: 10px;
  /* Espacement entre les icônes */
}

.payment-methods img {
  height: 30px;
}

/* Ajuster le padding pour que le contenu principal ne soit pas masqué */
.footer {
  padding-bottom: 70px;
  /* Ajustement pour laisser de la place au footer-bottom */
}

.img-footer-bottom {
  width: 100%;
  height: 5rem;
  border: 0.01rem solid #000;
  padding: 0.1rem;
  border-radius: 0.15rem;
}

.image-text {
  position: relative;
}

.image-text img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Pour que l'image remplisse le conteneur sans déformation */
}

.texte {
  position: absolute;
  top: 10px;
  /* Distance du texte par rapport au haut de l'image */
  left: 10px;
  /* Distance du texte par rapport à la gauche de l'image */
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.first {
  color: #000;
}


/* Global Responsive Adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 5px 0;
  }

  .user-options {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo img {
    width: 120px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .collections {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .collection-item {
    flex: 0 1 100%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .stack {
    flex: none;
    height: auto;
  }

  .center img {
    height: auto;
  }

  .grid-container-bottom {
    grid-template-columns: 1fr;
  }

  .service {
    flex-direction: column;
    gap: 20px;
    padding: 2rem 1rem;
  }

  .service-item {
    max-width: 90%;
  }

  .newsletter {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter input {
    width: 100%;
  }

  .footer {
    padding: 3rem 1rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-section {
    margin: 10px 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .img-footer-bottom {
    height: auto;
    width: 100%;
  }
}


@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .description {
    padding: 1.5rem;
  }

  .description .section-block h1 {
    font-size: 1.5rem;
  }

  .description .section-block p {
    font-size: 0.9rem;
  }

  .collection-item p {
    font-size: 16px;
  }

  .overlay h2 {
    font-size: 20px;
    text-align: center;
  }

  .overlay button {
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .service-item .icon {
    font-size: 30px;
  }

  .service-item .title {
    font-size: 1.25rem;
  }

  .service-item .text {
    font-size: 0.875rem;
  }

  .newsletter span {
    font-size: 1rem;
  }

  .newsletter input,
  .newsletter button {
    font-size: 0.875rem;
    padding: 0.6rem;

  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 3rem;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 1rem;
  }

  .footer-section ul li {
    font-size: 0.875rem;
  }

  .footer-bottom p {
    font-size: 0.8rem;
  }

  .payment-methods img {
    height: 25px;
  }
}